RewriteEngine On
RewriteRule ^wwQZD3DQxP$ login.php [L]
RewriteRule ^BaCcqMVtBD$ logout.php [L]
RewriteRule ^TLR0pGNaX5$ register.php [L]
RewriteRule ^mIkMRb6dKR$ forgotpass.php [L]
RewriteRule ^gglOA2RjWA$ resetpass.php [L]
RewriteRule ^uNpEEtuNqa$ data_entry.php [L]
RewriteRule ^aN6dVP3SdJ$ room_services.php [L]
RewriteRule ^e5br3obUuC$ room_service_view.php [L]
RewriteRule ^8dxlVRS6Af$ dashboard.php [L]
RewriteRule ^7IORRnTZUE$ dashboard_admin.php [L]
RewriteRule ^Zco14gyCXY$ admin_view.php [L]
RewriteRule ^DUKxU1tWqZ$ verification_sent.php [L]
RewriteRule ^effvmEUJjI$ confirm.php [L]